
.all
  .header
    .how
      使い方
      %br
      ①現在の体重と理想の体重を入力して達成率を計算ボタンを押そう
      %br
      達成している分だけ花が咲くぞ！目指せ100％！全ての花を咲かせよう！
      %br
      ②身長と体重を入力するとBMIがわかるぞ！
    .subtitle
      努力で咲かせ！
    .title
      Flower garden
  .middle
    .middle__contents1
      %span.image
        = image_tag src="/assets/flower_marigold.png", size: "170x160", id: "marigold"
        = image_tag src="/assets/flower_kikyou.png", size: "170x160",id: "kikyou"
        = image_tag src="/assets/flower_tulip.png", size: "170x160",id:"tulip"
        = image_tag src="/assets/flower_hyacinth.png", size: "170x160",id:"hyacinth"
        = image_tag src="/assets/flower_amaryllis.png", size: "170x160",id:"amaryllis"
        = image_tag src="/assets/flower_himekaiu_calla.png", size: "170x160",id:"calla"
        = image_tag src="/assets/flower_sandersonia.png", size: "170x160",id:"sandersonia"
        = image_tag src="/assets/flower_gaku_ajisai.png", size: "170x160",id:"ajisai"
        %br
        = image_tag src="/assets/flower_whitelaceflower.png", size: "150x160",id:"whitelaceflower"
        = image_tag src="/assets/flower_blue_bonnet.png", size: "150x160",id:"blue_bonnet"
        = image_tag src="/assets/herb_geranium.png", size: "150x160",id:"geranium"
        = image_tag src="/assets/flower_ayame.png", size: "150x160",id:"ayame"
        = image_tag src="/assets/flower_tsubuwaki.png", size: "150x160",id:"tsubuwaki"
        = image_tag src="/assets/flower_christmas_rose.png", size: "150x160",id:"christmas_rose"
        = image_tag src="/assets/flower_rindou.png", size: "150x160",id:"rindou"
        = image_tag src="/assets/flower_syakunage.png", size: "150x160",id:"syakunage"
        = image_tag src="/assets/flower_shiroinunazuna", size: "150x160",id:"shiroinunazuna"
        = image_tag src="/assets/flower_katakuri.png", size: "170x160",id:"katakuri"
        = image_tag src="/assets/plant_flower_seitaka_awadachisou.png", size: "170x160",id:"seitaka_awadachisou"
        = image_tag src="/assets/flower_nadeshiko.png", size: "170x160",id:"nadeshiko"
        = image_tag src="/assets/flower_anthurium.png", size: "170x160",id:"anthurium"
        = image_tag src="/assets/flower_rose_rainbow.png", size: "170x160",id:"rose_rainbow"
        = image_tag src="/assets/flower_syakoba_saboten.png", size: "170x160",id:"syakoba_saboten"
        = image_tag src="/assets/flower_nemophila.png", size: "170x160",id:"nemophila"
        = image_tag src="/assets/flower_kalmia_karumia.png", size: "170x160",id:"kalmia_karumia"
        
        
  .footer
    = form_with model: @product, remote: true do |f|
      .footer__contents1
        .footer__contents1__text
          身長
        .footer__contents1__input
          = f.text_field :name,size: "5px", placeholder: "",id: "height"
          cm
      .footer__contents2
        .footer__contents2__text
          現在の体重
        .footer__contents2__input
          = f.text_field :name,size: "5px", placeholder: "",id: "weight"
          kg
      .footer__contents3
        .footer__contents3__text
          理想の体重
        .footer__contents3__input
          = f.text_field :name,size: "5px", placeholder: "",id: "idealweight"
          kg
      .footer__contents4
        .footer__contents4__text
          %input#ideal{:type => "button", :value => "達成率を計算"}
          #box4
      .footer__contents5
        .footer__contents5__text
          %input#calc{:type => "button", :value => "BMIを計算"}
          .rank1
            低体重
          .rank2
            普通体重
          .rank3
            肥満（1度）
          .rank4
            肥満（２度）
          .rank5
            肥満（3度）
          .rank6
            肥満（4度）
          #box5

  




        
    

      
