
.all
  .header
    .title
      ダイエットフラワー
  .middle
    .middle__contents1
      %span.image
        = image_tag src="/assets/flower_marigold.png", size: "170x140", id: "a"
        = image_tag src="/assets/flower_kikyou.png", size: "170x140"
        = image_tag src="/assets/flower_tulip.png", size: "170x140"
        = image_tag src="/assets/flower_hyacinth.png", size: "170x140"
        = image_tag src="/assets/flower_amaryllis.png", size: "170x140"
        = image_tag src="/assets/flower_himekaiu_calla.png", size: "170x140"
        = image_tag src="/assets/flower_sandersonia.png", size: "170x140"
        = image_tag src="/assets/flower_gaku_ajisai.png", size: "170x140"
        %br
        = image_tag src="/assets/flower_whitelaceflower.png", size: "150x140"
        = image_tag src="/assets/flower_blue_bonnet.png", size: "150x140"
        = image_tag src="/assets/herb_geranium.png", size: "150x140"
        = image_tag src="/assets/flower_ayame.png", size: "150x140"
        = image_tag src="/assets/flower_tsubuwaki.png", size: "150x140"
        = image_tag src="/assets/flower_christmas_rose.png", size: "150x140"
        = image_tag src="/assets/flower_rindou.png", size: "150x140"
        = image_tag src="/assets/flower_syakunage.png", size: "150x140"
        = image_tag src="/assets/flower_shiroinunazuna", size: "150x140"
        = image_tag src="/assets/flower_katakuri.png", size: "170x140"
        = image_tag src="/assets/plant_flower_seitaka_awadachisou.png", size: "170x140"
        = image_tag src="/assets/flower_nadeshiko.png", size: "170x140"
        = image_tag src="/assets/flower_anthurium.png", size: "170x140"
        = image_tag src="/assets/flower_rose_rainbow.png", size: "170x140"
        = image_tag src="/assets/flower_syakoba_saboten.png", size: "170x140"
        = image_tag src="/assets/flower_nemophila.png", size: "170x140"
        = image_tag src="/assets/flower_kalmia_karumia.png", size: "170x140"
        
        
  .footer
    = form_with model: @product, remote: true do |f|
      .footer__contents1
        .footer__contents1__text
          身長
        .footer__contents1__input
          = f.text_field :name,size: "5px", placeholder: "",id: "height"
          cm
      .footer__contents2
        .footer__contents2__text
          現在の体重
        .footer__contents2__input
          = f.text_field :name,size: "5px", placeholder: "",id: "weight"
          kg
      .footer__contents3
        .footer__contents3__text
          理想の体重
        .footer__contents3__input
          = f.text_field :name,size: "5px", placeholder: "",id: "idealweight"
          kg
      .footer__contents4
        .footer__contents4__text
          %input#ideal{:type => "button", :value => "達成率を計算"}
          #box4
      .footer__contents5
        .footer__contents5__text
          %input#calc{:type => "button", :value => "BMIを計算"}
          #box5

  




        
    

      
